<%- include("header") -%>
    <ol>
        <li>The testing the news app</li>
      <%  for( var i =0;i<name.length;i++){ %>
            <li> <%= name[i] %></li>
       <% } %>

       <%  for( var i =0;i<description1.length;i++){ %>
        <li> <%= description1[i] %></li>
   <% } %>
    </ol>
   
    
    
    <form action = "/" method = "post">
        <input class = "text" type = "text" name = "sources">
        <button type ="submit">Get Headlines</button>
    </form>
<%- include("footer") -%>